<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072250798554-4drvc1uodksss6dd3hugsoe7g4q1bqc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072250798554-4drvc1uodksss6dd3hugsoe7g4q1bqc6</string>
	<key>API_KEY</key>
	<string>AIzaSyCQzmPLEACVsgiPssNpJ93q_JB6Q2utYD8</string>
	<key>GCM_SENDER_ID</key>
	<string>1072250798554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ShakFeizi.SigninSignup-Exp</string>
	<key>PROJECT_ID</key>
	<string>signinsignupexp</string>
	<key>STORAGE_BUCKET</key>
	<string>signinsignupexp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072250798554:ios:aa48302fbc3ee45ce500e3</string>
</dict>
</plist>